<footer class="text-white text-center text-lg-start" style="background-color: rgb(7, 7, 7);">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>

        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti.
        </p>

        <div class="mt-4 del">
          <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-facebook"></i></a>
          <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-tiktok"></i></a>
          <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-instagram"></i></a>
          <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-whatsapp"></i></a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
        <h5 class="text-uppercase mb-4 ms-md-4 pb-1">Contact Us</h5>
        <div class="row">

          <div class="col-6 col-md-12 fa-ul ful">
            <li class="mb-md-3 mb-5 mt-1 mt-mb-0 st">
              <span class="fa-li"><i class="bi bi-shop-window"></i></span><span class="ms-2">.., Beirut, Lebanon</span>
            </li>
            <li class="mb-md-3 st">
              <span class="fa-li"><i class="bi bi-phone"></i></span><span class="ms-2">+ 961 70 123 456</span>
            </li>
            <li class="mb-3 del">
              <span class="fa-li"><i class="bi bi-envelope"></i></span><span class="ms-2">contact@mystores.com</span>
            </li>
          </div>

          <div class="col-6">
              <div class="del1 ms-5">
                <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-facebook"></i></a>
                <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-tiktok"></i></a>
                <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-instagram"></i></a>
                <a type="button" class="r btn btn-floating btn-light btn-lg"><i class="bi bi-whatsapp"></i></a>
              </div>
          </div>

        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

  <div class="text-center p-3" style="background-color: black;">
    © 2020 Copyright:
    <a class="text-white">MyStores.com</a>
  </div>
</footer>