<router-outlet></router-outlet>
<div style="height: 120px;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" class="ms-5" routerLink="">
                <img src="assets/logo.png" style="width: 40px;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0" style="margin: 0 140px 0 322px;">
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-4 fw-semibold me-3" routerLink="/N">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-4 fw-semibold" routerLink="/M">Men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-4 fw-semibold me-3 ms-3" routerLink="/W">Women</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-4 fw-semibold" routerLink="/K">Kids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark fs-4 fw-semibold me-3 ms-3" routerLink="/S">Sale</a>
                    </li>
                </ul>
                <div class="me-2 hv-rmede bg-rmede" style="width: 190px; border-radius: 100px;" role="search">
                    <button class="d-flex position-absolute hv-rmede" style="border-radius: 100px; border: 1px solid transparent; width: 40px; height: 37px;">
                        <svg aria-hidden="true" style="margin: 5px 0 0 0;" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M13.962 16.296a6.716 6.716 0 01-3.462.954 6.728 6.728 0 01-4.773-1.977A6.728 6.728 0 013.75 10.5c0-1.864.755-3.551 1.977-4.773A6.728 6.728 0 0110.5 3.75c1.864 0 3.551.755 4.773 1.977A6.728 6.728 0 0117.25 10.5a6.726 6.726 0 01-.921 3.407c-.517.882-.434 1.988.289 2.711l3.853 3.853"></path></svg>
                        <!-- <img src="assets/B..png" alt="" style="width: 10px; margin: 10.5px 0 0 -18px;"> -->
                    </button>
                    <input class="form-control me-0 bg-transparent" style="border-radius: 100px; border: 1px solid transparent; width: 150px; margin-left: 40px;" type="search" placeholder="Search" aria-label="Search">
                    <!-- <button class="btn btn-outline-dark" type="submit">Search</button> -->
                </div>
                <div class="hv-rmede ms-1 me-1" style="width: 30px; height: 30px; border-radius: 100px;">
                <svg aria-hidden="true" focusable="false" viewBox="0 0 24 20" role="img" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M16.794 3.75c1.324 0 2.568.516 3.504 1.451a4.96 4.96 0 010 7.008L12 20.508l-8.299-8.299a4.96 4.96 0 010-7.007A4.923 4.923 0 017.205 3.75c1.324 0 2.568.516 3.504 1.451l.76.76.531.531.53-.531.76-.76a4.926 4.926 0 013.504-1.451"></path></svg>
                </div>
                <div class="hv-rmede " style="width: 30px; height: 30px; border-radius: 100px;">
                <svg aria-hidden="true" focusable="false" viewBox="0 0 24 24" role="img" width="24px" height="24px" fill="none"><path stroke="currentColor" stroke-width="1.5" d="M8.25 8.25V6a2.25 2.25 0 012.25-2.25h3a2.25 2.25 0 110 4.5H3.75v8.25a3.75 3.75 0 003.75 3.75h9a3.75 3.75 0 003.75-3.75V8.25H17.5"></path></svg>
                </div>
            </div>
        </div>
    </nav>
    <div id="carouselExampleInterval" class="carousel slide container-fluid w-100 h-50 bg-rmede" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item text-center active" data-bs-interval="3000">
            <span class="fs-6 fw-semibold">15% Off Site-Wide</span>
            <p>Stores Member, use code MYSTORES23 at checkout.</p>
          </div>
          <div class="carousel-item text-center" data-bs-interval="3000">
            <p></p>
            <p class="fs-6 fw-semibold" >Introducing Afterpay, Shop Now, Pay Later.</p>
          </div>
          <div class="carousel-item text-center" >
            <p></p>
            <p class="fs-6 fw-semibold">Visit Our Store in Beirut</p>
          </div>
        </div>
    </div>
</div>

  

