<router-outlet></router-outlet>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-brand col-2">
            <h2 class="ms-4">{{section}}</h2>
        </div>
        <div class="collapse navbar-collapse col-10 " id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0" style="margin: -2px 0 0 24.5%;">
                <li class="nav-item">
                    <a class="nav-link text-dark fs-5" routerLink="/shoes">Shoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-5 me-3 ms-3" routerLink="/accessories">Accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark fs-5" routerLink="/clothes">Clothes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>